#header {
	padding-top: 10px;
	height: 100px;
}

#menuInHeader {
	margin-top: 70px:
	color: white;
}

.navbar.navbar-inverse {
    background-color: #85000A;
	padding: 0 20px;
}

.navbar.navbar-inverse a:link;{
    color: white;
}

h5 a:link{
	color: white;
}

h5 a:hover{
	color: white;	
}

h5 a:visited{
	color: white;	
}

.title-link.h3 a {
	color: white;
}

#cmuBanner img {
	width: 100%;
	height: auto;
}

#sampleSensor img {
	width: 100%;
	height: auto;
}

#homePageSpacer {
	height: 120px;
}