body { padding-top: 70px; }

#menuInHeader {
  margin-top: 20px;
  color: white;
}

.cmu-red {
  background-color: #85000A;
}

.navbar.navbar-inverse a:link;{
  color: white;
}

h5 a:link{
  color: white;
}

h5 a:visited{
  color: white;        
}

h5 a:hover{
  color: white;        
}

h3.title-link a {
  color: white;
}

h3.title-link a:hover {
  text-decoration:none;
}

.featuresAndFunctionality h3{
	text-align: center;
	color: #85000A;
}

.featuresAndFunctionality p{
	font-size: 16px;
}

#firstRowOnHomePage{
	margin-top: -40px;
}
#lastRowOnHomePage {
	padding-bottom: 100px;
}
