#menuInHeader {
  margin-top: 20px;
  color: white;
}

.navbar.navbar-inverse {
  background-color: #85000A;
  padding: 2px 20px;
}

.navbar.navbar-inverse a:link;{
  color: white;
}

h5 a:link{
  color: white;
}

h5 a:visited{
  color: white;	
}

h5 a:hover{
  color: white;	
}

h3.title-link a {
  color: white;
}

h3.title-link a:hover {
  text-decoration:none;
}
