@(sensorTypeList:java.util.List[SensorType],deviceIds:java.util.List[String])

<label for="sensorType">Sensor Type</label>
<select id="sensorType" name="@DeviceManager.SENSOR_TYPE" class="form-control">
    @if(sensorTypeList.isEmpty){
        <option value="">No sensor types returned</option>
    } else {
        <option>Choose sensor type</option>
        @for(sensorType <- sensorTypeList){
            <option value="@sensorType.getType()">@sensorType.getType()</option>
        }
    }
</select>

<label for="deviceId">Device ID</label>
<select id="deviceId" name="@DeviceManager.DEVICE_ID" class="form-control">
    @if(deviceIds.isEmpty){
        <option value="">No device Id returned</option>
    } else {
        <option>Choose Device Id</option>
        @for(deviceId <- deviceIds){
            <option value="@deviceId">@deviceId</option>
        }
    }
</select>

