@main("Team Mercury") {
<div class="jumbotron">
  <div class="row center-block">
    <img alt="Building23" src="@routes.Assets.at("images/cmusv.png")" width="500" class="pull-left">
    <img alt="Ff" src="@routes.Assets.at("images/sensor.jpg")" width="500" class="pull-right">
  </div>
  <br>
  <div class="row">
  	<div id="slogan">
      <h3>A Federated Cloud Platform 
	   for Mobile Data-Centric Service Development and Sharing</h2>
	</div>
  </div>
</div>
<div class="row">
	<section class="featuresAndFunctionality" id="firstRowOnHomePage">
		<div class="col-xs-4 col-lg-4">
			<h3>Scalable</h3>
	        <p>Scalable in both web services and data sets.</p>
		</div>
		<div class="col-xs-4 col-lg-4">
          <h3>Aggregation of data</h3>
          <p>Traverse the data of devices and their sensors.</p>
		</div>
		<div class="col-xs-4 col-lg-4">
          <h3>Rich in visualization</h3>
          <p>Multiple chart visualization, complicated queries.</p>
		</div>
	</section>
</div>
<div class="row" id="lastRowOnHomePage">
	<section class="featuresAndFunctionality">
		<div class="col-xs-4 col-lg-4">
            <h3>More about the project</h3>
            <p>For information on this project and a good general overview, 
	click here to see the slide deck covering relevant features.</p>
		</div>
		<div class="col-xs-4 col-lg-4">
            <h3>github repository</h3>
            <p>All the code is currently hosted on github. Contribute to this community.</p>
		</div>
		<div class="col-xs-4 col-lg-4">
            <h3>TODOs</h3>
            <p>Go to github and check the open issues.</p>
		</div>
	</section>
</div>
}
