@(title: String)(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.datetimepicker.css")">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.datetimepicker.js")"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>
    </head>
    <body>
	  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="row cmu-red">
	      <div class="container">
	      <div class="navbar-left">
	        <h3 class="title-link">
	          <a href="/">Carnegie Mellon University Silicon Valley</a>
	        </h3>
	      </div>
	      <div class="actions navbar-right" id="menuInHeader">
	        <h5>
	          <a href="/dashboard">Dashboard</a> |
	          <a href="/sensors">Sensors</a> |
	          <a href="/devices">Devices</a> |
	          <a href="/device_agents">Device Agents</a> |
	          <a href="/sensor_types">Sensor Types</a> |
	          <a href="/device_types">Device Types</a> |
	            <a href="/users/sign_in">Log In</a>
	        </h5>
	      </div>
	      </div>
	    </div>
	  </nav> 
        <div class="container">
            <!-- Content goes in here -->
            @content
            <!-- Content goes in here -->
        </div>

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <p class="navbar-text navbar-right">&copy; Carnegie Mellon Silicon Valley</p>
        </nav>
    </body>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
</html>
