@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <h1>Sensor Query API</h1>
            <p>Carnegie Mellon University - Silicon Valley</p>
        </header>
        <!-- Content goes in here -->
        @content
        <!-- Content goes in here -->
        <footer>
            &copy; Carnegie Mellon Silicon Valley
        </footer>
    </body>
</html>
